@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Bebas Neue", sans-serif;
}

/*header*/
header {
  background-color: #618264;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: static;
  top: 0px;
}
header img {
  width: 80px;
  margin-top: 0px;
  margin-right: 5px;
}
header nav {
  background-color: #618264;
  width: 50%;
  font-size: 35px;
}
header nav ul {
  font-family: "Bebas Neue", sans-serif;
  list-style: none;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  user-select: none;
}

.navv {
  color: white;
}

.navv:hover {
  color: black;
  text-decoration: underline;
}

/*main*/
.tituloh1 {
  font-family: "Bebas Neue", sans-serif;
  text-align: left;
  font-size: 25px;
  color: black;
  margin: 10px 0px;
}
.tituloh1 .presentacion {
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  font-size: 25px;
  color: black;
  margin: 25px;
  padding: 5px;
}
.tituloh1 .padreflex {
  font-family: "Bebas Neue", sans-serif;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-around;
  font-size: 24px;
  justify-content: space-between;
  padding: 5px;
}

header a {
  color: white;
  text-decoration: none;
}

div img {
  width: 60px;
}

/*---------------novedades------------------------*/
.container-novedades {
  font-family: "Bebas Neue", sans-serif;
}

.colorgo {
  color: #618264;
}

/*----------------productos------------------------*/
.container {
  font-family: "Bebas Neue", sans-serif;
}

.colorcompra {
  color: #618264;
}

/*------------sobre nosotros---------------------------*/
.contenedor-grid img {
  width: 100%;
  height: 100%;
}

.contenedor-grid {
  display: grid;
  font-size: 18px;
  /*definir areas*/
  grid-template-areas: "celda1 texto1 texto1" "texto2 texto2 celda2 " "celda3 texto3 texto3";
  /*-ancho de cada columna*/
  grid-template-columns: 25% 25% 25%;
  /*-alto de cada fila*/
  grid-template-rows: 200px 200px 200px;
  /* acomodar a los hijos*/
  justify-items: center;
  align-items: center;
  /* acomodar grillas*/
  justify-content: center;
  /* espacios entre lineas y columnas*/
  row-gap: 10px;
  column-gap: 10px;
}

.grid-img-1 {
  grid-area: celda1;
}

.grid-texto-1 {
  grid-area: texto1;
}

.grid-img-2 {
  grid-area: celda2;
}

.grid-texto-2 {
  grid-area: texto2;
}

.grid-img-3 {
  grid-area: celda3;
}

.grid-texto-3 {
  grid-area: texto3;
}

/*--------------- CONTACTO---------------------------*/
label, input, textarea, checkbox {
  display: block;
  margin-bottom: 5px; /* Ajusta según sea necesario */
}

/* Alinear checkbox con el texto del término y condición */
label[for=acepto] {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}

/* Estilo para el botón de envío */
input[type=submit] {
  display: inline-block;
  padding: 10px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.mapa {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px opx;
}

/*footer*/
footer {
  background-color: #618264;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

footer img, svg {
  width: 50px;
}

footer div {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer .logotelefono {
  margin-left: 0px;
}

footer.logofacebook {
  border-radius: 50%;
  background-color: #618264;
  border: 1px;
}

footer.logoinstagram {
  border-radius: 5px;
  background-color: #618264;
  border: 1px;
}

/*mediaq*/
/*celulares*/
@media only screen and (max-width: 500px) {
  header {
    flex-direction: column;
  }
  header nav {
    width: 100%;
  }
  header nav ul {
    font-size: 1.5rem;
  }
  /*INDEX*/
  .padreflex {
    font-family: "Bebas Neue", sans-serif;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
    font-size: 20px;
    justify-content: space-between;
    padding: 5px;
  }
  /*sobrenosotros*/
  .contenedor-grid {
    grid-template-areas: "celda1" "texto1" "texto1" "celda2" "texto2" "texto2" "celda3" "texto3" "texto3";
    grid-template-columns: 300px;
    grid-template-rows: 25%;
  }
  .mapa {
    height: 300px;
    width: 100%;
    margin-right: 40px;
  }
  /*footer*/
  footer div {
    width: 60%;
  }
}

/*# sourceMappingURL=estilos.css.map */
